useDynLib(fastplm, .registration = TRUE)
export(create.indicators)
export(create.subindicators)
export(create.complex.effect)
export(create.fixed.effects)
export(solve.fe.model)
export(predict.fe.model)
importFrom(Rcpp)
